/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background-image:url('../images/fabric_plaid.png');
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


header {
  border-bottom: 1px solid rgb(142, 142, 142);
  height: 40px;
  line-height: 40px;
  background-color: rgb(215, 48, 39);
  -moz-box-shadow: -1px 3px 8px #292929;
  -webkit-box-shadow: -1px 3px 8px #292929;
  box-shadow: -1px 3px 8px #292929;
}

header .title {
  padding-left: 20px;
  font-size: 16pt;
}

nav {
  width: 900px;
  margin: 0 auto;
}

nav ul {
  display:inline;

}

nav ul li {
  float: right;
  padding-right:20px;
}

header a{
  color: #fff;
  text-decoration: none;
}

#stripe {
  margin-bottom: 60px;
  border-bottom: 1px solid;
  height: 280px;
  background-image:url('../images/gm.gif');
  position: absolute;
  width: 100%;
}

#intro {
  border: 2px;
  height: 200px;
  width: 640px;
  background-color: #fff;
  margin: 0 auto;
  margin-top:20px;


  text-align: center;
  padding:20px;
  position: relative;
}

#intro h1 {
  font-family: 'Lobster';
  padding-top: 15px;
  padding-bottom: 15px;
}

.lob_heading h1,h2,h3{
  text-align: center;
  font-family: 'Lobster';
}

.info_box {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 3px 3px 8px #292929;
  -webkit-box-shadow: 3px 3px 8px #292929;
  box-shadow: 3px 3px 8px #292929;
  background-color: #fff;
}

.intro_button {
  -moz-box-shadow:inset 0px 0px 5px 0px #f29c93;
  -webkit-box-shadow:inset 0px 0px 5px 0px #f29c93;
  box-shadow:inset 0px 0px 5px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d41b07), color-stop(1, #db0404) );
  background:-moz-linear-gradient( center top, #d41b07 5%, #db0404 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d41b07', endColorstr='#db0404');
  background-color:#d41b07;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#ffffff;
  font-size:28px;
  font-weight:bold;
  padding:15px 43px;
  text-decoration:none;
  text-shadow:1px 2px 0px #b23e35;
}
.intro_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db0404), color-stop(1, #d41b07) );
  background:-moz-linear-gradient( center top, #db0404 5%, #d41b07 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db0404', endColorstr='#d41b07');
  background-color:#db0404;
}
.intro_button:active {
  position:relative;
  top:1px;
}


.regular_button {
  -moz-box-shadow:inset 0px 0px 5px 0px #f29c93;
  -webkit-box-shadow:inset 0px 0px 5px 0px #f29c93;
  box-shadow:inset 0px 0px 5px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d41b07), color-stop(1, #db0404) );
  background:-moz-linear-gradient( center top, #d41b07 5%, #db0404 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d41b07', endColorstr='#db0404');
  background-color:#d41b07;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#ffffff;
  font-size:18px;
  font-weight:bold;
  padding:8px 22px;
  text-decoration:none;
  text-shadow:1px 2px 0px #b23e35;
}.regular_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db0404), color-stop(1, #d41b07) );
  background:-moz-linear-gradient( center top, #db0404 5%, #d41b07 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db0404', endColorstr='#d41b07');
  background-color:#db0404;
}.regular_button:active {
  position:relative;
  top:1px;
}

.regular_button {
  -moz-box-shadow:inset 0px 0px 5px 0px #f29c93;
  -webkit-box-shadow:inset 0px 0px 5px 0px #f29c93;
  box-shadow:inset 0px 0px 5px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d41b07), color-stop(1, #db0404) );
  background:-moz-linear-gradient( center top, #d41b07 5%, #db0404 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d41b07', endColorstr='#db0404');
  background-color:#d41b07;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#ffffff;
  font-size:18px;
  font-weight:bold;
  padding:8px 22px;
  text-decoration:none;
  text-shadow:1px 2px 0px #b23e35;
}.regular_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db0404), color-stop(1, #d41b07) );
  background:-moz-linear-gradient( center top, #db0404 5%, #d41b07 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db0404', endColorstr='#d41b07');
  background-color:#db0404;
}.regular_button:active {
  position:relative;
  top:1px;
}


#content {
  width: 900px;
  margin: 0 auto;
  margin-top: 320px;
}


.main {
  margin-top:30px !important;
}

.main div{
  margin-bottom: 30px;
  padding:20px;
}

#marketing div {

}


#problems {
  width: 25%;
  float:left;
  height: 300px;
  margin: 10px;
  margin-bottom:100px;
  padding: 20px;
}

#problems p{
  height: 25%;
  margin-bottom: 20%;
}

div.icon {
  margin: 0 auto;
  text-align: center;
  font-size: 40pt;
}


footer {
  clear:both;
  background-color: rgb(145, 191, 219);
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

