<div id="stripe">
        <div id="intro" class="info_box">
          <h1>Tell me what you really think</h1>
          <a href="/create_survey" class="intro_button">Create A Survey</a>
        </div>
      </div>
        <!-- Add your site or application content here -->
      <div id="content">
        <div id="marketing">
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Life's</h2></span>
            <p>Your life really sucks, like really sucks and you should do somthing about that</p>
            <div class="icon"><i class="icon-frown"></i></div>
          </div>
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Problems</h2></span>
            <p>Everyone in the general public know much better than you, on every matter posible on how to live your life</P>
            <div class="icon"><i class="icon-group"></i></div>
          </div>
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Solved</h2></span>
            <p>So all you need to do is ask them and your life will instanly improve. So post a survey and fix your shitty life</p>
            <div class="icon"><i class="icon-thumbs-up"></i></div>
          </div>
        </div>
      </div>
