<div id="stripe">
        <div id="intro" class="info_box">
          <h1>Tell me what you really think</h1>
          <a href="/create_survey" class="intro_button">Create A Survey</a>
        </div>
      </div>
        <!-- Add your site or application content here -->
      <div id="content">
        <div id="marketing">
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Life's</h2></span>
            <p>Don't try to guess what your customers are thinking! Find out!</p>
            <div class="icon"><i class="icon-frown"></i></div>
          </div>
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Problems</h2></span>
            <p>Tap in to the power of the crowd in the cloud!</p>
            <div class="icon"><i class="icon-group"></i></div>
          </div>
          <div id="problems" class="info_box">
            <span class="lob_heading"><h2>Solved</h2></span>
            <p>Survey Monster is powerful and flexible to meet the needs of your project.</p>
            <div class="icon"><i class="icon-thumbs-up"></i></div>
          </div>
        </div>
      </div>

      <div id="super_startup" class="infobox">
      <script src="http://thestartuplegitimizer.com/js/legitimizeme.min.js?pubs=tc-te-fo-ny"></script>
      </div>
