<p>Title: <%= @survey.title %></p>
  <% @survey.questions.each do |question| %>
    <div class="response_count">
      <h3>Question</h3>
      <p><%= question.question_text %>
      <p>Responses</p>
       <%= question.answers.count %></p>

     </div>
  <% end %>

<a href="/">Return to Main Page</a>
