<p>Title: <%= @survey.title %></p>
  <% @survey.questions.each do |question| %>
    <div class="response_count">
      <p><a href="/individual_survey_results/<%= @survey.id %>"><%= question.question_text %></a> | <%= question.options.count %></p>
     </div>
  <% end %>

<a href="/">Return to Main Page</a>
