<p>Title: <%= @survey.title %></p>
  <% @survey.questions.each do |question| %>
    <div class="response_count">
      <p><%= question.question_text %> | <%= question.answers.count %></p>
     </div>
  <% end %>

<a href="/">Return to Main Page</a>
