<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/application.css">

        <script src="js/jquery.js"></script>

        <script src="js/questionnaire.js"></script>
        <script src="js/question.js"></script>
        <script src="js/option.js"></script>
        <script src="js/main.js"></script>

    </head>
    <body>
      <header>
        <nav>
          <span class="title"><a href="#">survey monster</a></span>
          <ul>
            <li><a href="/create_survey">Create Survey</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Sign In</a></li>
          </ul>
        </nav>
      </header>

      <%= yield %>

      <footer>
        get the answer you need
      </footer>
    </body>
</html>
