<div class="container">
  <h1>Login!</h1>

  
    <% if @errors %>
      <%= erb :_errors, locals: {errors: @errors} %>
    <% end %>

  <div id="login">
    <form action="/login" method="post" class="form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="user[name]"><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="user[password]"><br>
      <input type="submit" value="Login" class="submit-button">
    </form>
  </div>
</div>
