

<h1>Sign Up!</h1>

<% if @errors %>
  <%= erb :_errors, locals: {errors: @errors} %>
<% end %>

<div id="signup">
  <form action="/signup" method="post" class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="user[name]"><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="user[password]"><br>
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="text" id="password_confirmation" name="user[password_confirmation]"><br>
    <input type="submit" value="Add Yo'self" class="submit-button">
  </form>
</div>



<!--  <form action="/grandma" method="post">
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form> -->
