<!-- survey_results.erb -->
<% @surveys.each do |survey| %>
<div class="survey_list">
  <p><%= survey.title %> | <%= survey.answers.count %></p>
</div>
<% end %>
<a href="/create_survey">Create New Survey</a>
